<div class="welcome-container">
  <div class="greeting">
    <span id="first">Welcome to</span>
    <div id="second">
      <span id="first-name">Sentinel</span>
      <span id="second-name">Vision</span>
    </div>
    <p class="breif">
      an AI-driven solution designed to accurately count and track people
      entering and exiting a defined area. Whether for security monitoring or
      sales analytics, our system ensures precise, real-time data to enhance
      decision-making.
      <span id="highlight">Checkout below</span>
    </p>
    <div class="start">
      <button (click)="navigateToDashboard()">Get Started</button>
    </div>
  </div>
</div>
